# Training the Dataset  üèÉüèª

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

In [9]:
train = pd.read_csv('./output/diamond_train_numeric.csv', index_col=0)
train.head()

    carat  cut  color  clarity  depth  table     x     y     z  price
id
0    0.30    3      1        1   62.8   56.0  4.29  4.31  2.70    605
1    0.34    4      2        2   62.6   55.0  4.46  4.49  2.80    565
2    0.40    3      3        2   60.3   62.0  4.70  4.75  2.85    720
3    0.40    5      4        3   61.8   59.2  4.72  4.74  2.92    793
4    0.90    3      3        2   61.0   63.0  6.10  6.13  3.73   4381

In [10]:
train.shape

(40455, 10)

In [11]:
test = pd.read_csv('./output/diamond_test_numeric.csv', index_col=0)
test.head()

    carat  cut  color  clarity  depth  table     x     y     z
id
0    2.36    4      7        4   60.8   54.0  8.68  8.57  5.24
1    2.04    4      4        4   62.0   56.0  8.18  8.23  5.09
2    0.51    4      7        2   61.7   54.0  5.18  5.19  3.20
3    0.30    4      7        2   61.3   56.0  4.32  4.33  2.65
4    0.96    1      4        1   68.8   56.0  6.11  5.98  4.16

In [12]:
test.shape

(13485, 9)

--------

---------

In [13]:
X = train.drop(columns=["price"])
y = train["price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
model = GradientBoostingRegressor(n_estimators=950)
fitted_model = model.fit(X, y)

In [15]:
y_pred = fitted_model.predict(X_test)

In [16]:
pred = pd.DataFrame(y_pred).reset_index()
pred = pred.rename(columns={"index": "id", 0: "price"})
pred.head()

   id        price
0   0  6541.127269
1   1  4454.568225
2   2   792.163608
3   3   475.962968
4   4  5231.745767

In [17]:
pred.shape

(8091, 2)

In [19]:
y_pred_final = fitted_model.predict(test)
y_pred_final

array([14950.78916486, 15958.48030685,  1182.00126183, ...,
        2351.993423  ,  1073.8631075 ,  2539.38868582])

In [22]:
pred = pd.DataFrame(y_pred_final).reset_index()
pred = pred.rename(columns={"index": "id", 0: "price"})
pred.head()

   id         price
0   0  14950.789165
1   1  15958.480307
2   2   1182.001262
3   3    426.088792
4   4   3480.987319

In [23]:
pred.to_csv('./output/pred1.csv', header=True, index=False)

models = {
    "linealReg": LinearRegression(),
    "forest100": RandomForestRegressor(n_estimators=100),
    "forest200": RandomForestRegressor(n_estimators=200),
    "tree": DecisionTreeRegressor(random_state=0),
    "neigbor":KNeighborsRegressor(),
    "boosting": GradientBoostingRegressor(n_estimators=500),
}